<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home View</title>
    <link rel="stylesheet" href="/css/styles1.css">
</head>
<body>
    <div id="navDiv"> 
        <h1 id="title">Technological Surveillance</h1><br>  
        <nav>
            <a href="/">Home</a>
            <a href="/types">Types of Surveillance</a>
            <a href="/proponents">Proponents of Surveillance</a>
            <a href="/resources">Resources</a>
            <a href="/entities"> Entities and Info</a>
        </nav>
    </div>
     <figure id="survCamImg">
    <img src="imgs/survCam.jpg" alt="Photo of A Surveillance Camera">
    </figure>
    <br>
    <h1>This CSS is brought to you by: studying for the midterm, and not doing well. Have an inspirational quote before you check the Entities and Info Page.</h1>
    <h2> <%= quote %></h2><br>
    <h3><%= by %></h3><br>
</body>
</html>